.signup-header {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    position: absolute;
    left: 20px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button > span {
    width: 9px;
    height: 9px;
    border-left: 1.5px solid #000000;
    border-bottom: 1.5px solid #000000;
    transform: rotate(45deg);
}

.next-button {
    position: absolute;
    left: 20px;
    bottom:10%;
    color: white;
    background-color: #E60024;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 15px;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    list-style: none;
}

.progress-bar > li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #E4E5E0;
}

.progress-bar > li.active {
    background-color: #000000;
}

.signup-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.signup-form > h1 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.signup-form > input {
    position: relative;
    left: 20px;
    font-size: 14px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}

.suggestion-container {
    margin-top: 50px;
    width: 100%;    
    scrollbar-width: none;
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.btn-suggest {
    font-size: 14px;
    color: #000000;
    background-color:#E4E5E0;
    border: none;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
    flex: 0 0 auto;
}

.password-input {
    position: relative;
    width: 100%;
}

.password-input > p {
    position: relative;
    left: 20px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}

.password-input > input {
    position: relative;
    left: 20px;
    font-size: 14px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}

.password-toggle {
    position: absolute;
    right: 12px;
    top: 65%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.name-input > button {
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 15px;
    color: #000000;
    background-color: #e4e5e0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.name-input > input{
    position: relative;
    left: 20px;
    font-size: 14px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}