.login-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: flex-end;
    z-index: 1000;
}

.login-header {
    margin-top: 10px;
    position: relative;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-header > h1 {
    align-self: center;
    text-align: center;
    font-size: 14px;
    padding-left: 30px;
}

.close-button {
    position: absolute;
    left: 0px;
    font-size: 35px;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
}

.login-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    background: white;
    border-radius: 35px 35px 0 0;
    padding: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

.social-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
    background-color: #ffffff;
    width: 100%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 15px;
}

.button-logo {
    position: absolute;
    left: 12px;
    width: 18px;
    height: 18px;
    width: 30px;
    height: 30px;
}

.OR {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.input-field {
    width: 100%;
    margin-bottom: 8px;
    padding: 0 20px 10px;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 15px;
}

.input-field > label {
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 12px;
}

.input-field > input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.password-input-wrapper {
    position: relative;
    width: 100%;
}

.password-input-wrapper > input {
    width: 100%;
    margin: 0;
    padding: 0 35px 0 0;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.login-password-toggle {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-80%);
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    font-size: 16px;
    text-decoration: none;
    margin: 10px 0 20px 0;
}

.actual-login-button {
    color: white;
    background-color: #E60024;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 15px;
}